<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div style='width: 50%; margin: auto;'>
        
        <%- include('./components/_header') %>

        <section>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, error suscipit nam molestiae nostrum minus modi? Voluptatibus in, repellat officiis sed labore cumque sapiente vitae fuga ea qui illo quaerat inventore illum molestias non ratione provident numquam! Alias corporis esse eius quasi, placeat ipsam quos quisquam sunt error sequi consequuntur pariatur, neque soluta quibusdam quam molestias facere expedita? Aliquid reprehenderit voluptatibus iste molestiae! Voluptatem iste a hic eius provident modi, reprehenderit rem sapiente eaque dolor ex blanditiis cumque obcaecati vitae accusantium esse beatae inventore laboriosam doloremque nesciunt deserunt. Eos nemo eligendi expedita facere repellat, obcaecati necessitatibus magni at. Sequi, repellendus.</p>
        </section>
    </div>
</body>
</html>